@use "sass:color";

@import "../themes/common";

$color-background: var(--color-background);
$color-foreground: var(--color-foreground);
$color-primary-button: var(--color-primary-button);
$color-primary-background-light: var(--color-primary-background-light);
$color-middle: var(--color-middle);
$color-primary-text: var(--color-primary-text);
$color-border-light: var(--color-border-light);
$color-background-smoke: var(--color-background-smoke);
$color-background-light-smoke: var(--color-background-light-smoke);
$color-background-white: var(--color-background-white);
$color-background-white-hover: var(--color-background-white-hover);
$color-box-background: var(--color-box-background);
$color-shadow: var(--color-shadow);
$color-background-dialog: var(--color-background-dialog);
$color-foreground-dialog: var(--color-foreground-dialog);
$color-black: var(--color-black);
$color-white: var(--color-white);

@mixin box-colors-reset {
  background: inherit;
  box-shadow: inherit;
}
