@import "variables/palette";

@keyframes open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

dialog {
  width: 100vw;
  height: 100%;
  max-width: unset;
  max-height: unset;
  margin: 0;
  padding: 0;
  background-color: $color-black;
  justify-items: center;
  align-content: center;
  transition: display var(--animation-duration) allow-discrete,
    overlay var(--animation-duration) allow-discrete;
  animation: close var(--animation-duration) cubic-bezier(0.25, 0, 0.3, 1)
    forwards;

  &[open] {
    animation: open var(--animation-duration) cubic-bezier(0.25, 0, 0.3, 1)
      forwards;
  }

  .image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    max-height: 100%;
    position: relative;
  }

  button {
    background: transparent;
    border: none;
    text-shadow: 0 0 6px $color-black;

    &:hover {
      background-color: $color-background-white-hover;
      box-shadow: none;
    }

    &:focus-visible {
      outline: 2px solid $color-white;
      box-shadow: 0px 0px 10px 1px $color-black;
    }

    &[disabled] {
      opacity: 0.5;

      &:hover {
        background: transparent;
        border: none;
      }
    }
  }

  button.previous,
  button.next {
    width: 3rem;
    font-size: 3rem;
    padding: 0.5rem;
    position: absolute;
    height: calc(100% - 1rem);

    @media (hover: none) {
      display: none;
    }
  }

  button.previous {
    left: 0.5rem;
    top: 0.5rem;
  }

  button.next {
    right: 0.5rem;
    top: 0.5rem;
  }

  button.close {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
  }

  img {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 0;
    margin: 0 auto;

    @media (max-width: 512px) {
      max-width: 95vw;
      width: 100%;
    }
  }

  p,
  button {
    color: $color-foreground-dialog;
  }

  p {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-background-dialog;
    line-height: 4rem;
    font-weight: 500;
    text-align: center;
  }
}

// lock page scrolling
html:has(dialog[open]) {
  overflow: hidden;
}
