@import "variables/palette";
@import "variables/components";

ul.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  list-style-type: none;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-gap: 2rem;
  }

  @media screen and (max-width: 512px) {
    grid-gap: 1rem;
  }

  article {
    padding: 0;
    display: grid;
  }

  article-box {
    height: 100%;

    .box {
      background: none;
      z-index: 10;
      border-radius: 10px;

      &::before {
        background: none;
      }

      &:hover::before  {
          background: $color-background-light-smoke;
        }
    }
  }

  h2 {
    height: fit-content;
    align-self: end;
    background: $color-background-smoke;
    line-height: 4rem;
    padding: 0 1rem;
    border-radius: 0 0 10px 10px;

    @media screen and (max-width: 512px) {
      line-height: 2.5rem;
      font-size: 1rem;
    }
  }

  h2,
  .image {
    grid-column: 1;
    grid-row: 1;
  }

  .image {
  }

  li {
    margin: 0;
  }

  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
