@import "variables/palette";

nav.paging {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;

  .info {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  .prev {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
  }

  .next {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;

    .info {
      grid-column: 1 / span 2;
    }
    .prev {
      grid-column: 1;
      grid-row: 2;
    }
    .next {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @media screen and (max-width: 700px) {
    grid-column-gap: 2rem;
  }

  @media screen and (max-width: 512px) {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr;

    .prev {
      grid-column: 1;
      grid-row: 2;
      justify-self: left;
    }

    .next {
      grid-column: 1;
      grid-row: 3;
      justify-self: right;
    }
  }

  article {
    border-radius: 8px;
  }

  article-box .box:hover::before {
    background: transparent;
  }

  a {
    width: fit-content;
    line-height: 3rem;

    span {
      background: $color-background-light-smoke;
      padding: 0 1rem;
      transition: background-color var(--animation-duration);
    }

    &:hover span {
      background: $color-black;
      transition: background-color var(--animation-duration);
    }
  }
}
