@import "variables/palette";
@import "variables/components";

main {
  article {
    --image-count: 1;

    padding: 1.5rem;
    letter-spacing: 0.02rem;

    @media screen and (max-width: 700px) {
      padding: 1rem;
    }

    @media (max-width: 512px) {
      padding-right: 0;
      padding-left: 0;
    }

    > * {
      margin: 0 0 1rem;

      @media (max-width: 512px) {
        margin-right: 1rem;
        margin-left: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      width: -moz-fit-content;
      width: fit-content;

      &:has(+ .date-created) {
        margin-bottom: 0;
      }

      + .date-created {
        margin-bottom: 1rem;
      }

      span {
        display: block;
      }

      .subtitle {
        font-size: 0.5em;
        line-height: 1.5em;
      }

      &::after {
        @include underline(100%, $color-primary, $color-secondary);
      }
    }

    h2 {
      width: fit-content;

      &::after {
        @include underline(100%, $color-primary, $color-secondary);
      }
    }

    .date-created {
      font-size: 0.9rem;
    }

    h2,
    h3 {
      margin-top: 2rem;
      margin-bottom: 0.7rem;
    }

    hr {
      @include underline(75%, $color-primary, $color-secondary);

      width: calc(100% - 4rem);
      border: none;
      margin: 2rem auto;
    }

    .images {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      column-gap: 1rem;
      justify-content: space-between;

       @media (min-width: 1024px) {
        flex-direction: row;
      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 25%));
      justify-content: center;
      row-gap: 16px;
      column-gap: 16px;

      @media screen and (max-width: 1350px) {
        grid-template-columns: repeat(3, minmax(auto, 34%));
      }

      @media screen and (max-width: 1050px) {
        grid-template-columns: repeat(2, minmax(auto, 50%));
      }

      @media screen and (max-width: 700px) {
        grid-template-columns: 100%
      }

      .image {
        aspect-ratio: 1;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: center;
        }

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background: radial-gradient(transparent 60%, #0009);
          transition: all var(--animation-duration);
          cursor: pointer;
        }

        &:hover::after {
          transform: scale(1.5);
        }
      }
    }

    .vlog-embed {
      aspect-ratio: 16 / 9;
      border-radius: 10px;
      margin: 1rem 0;
    }

    .image,
    .image-single,
    .profile-image {
      vertical-align: top;
      position: relative;

      img {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .images.fixed-width .image {
      @media (min-width: 1024px) {
        width: calc(100% / var(--image-count) - 16px * (var(--image-count) - 1));
      }
    }

    .image,
    .image-single {
      display: flex;

      &::after {
        content: attr(title);
        display: block;
        text-align: right;
        line-height: 2.5rem;
        font-style: italic;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 0.5rem;
        width: calc(100% - 1rem);
        background: $color-background-light-smoke;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .interactive-map {
      min-width: 100%;
      height: 700px;
      border: none;
      margin-left: 0;
    }

    .profile-image {
      position: relative;

      &::before {
        content: attr(title);
        position: absolute;
        color: black;
        top: 15px;
        left: 20px;
        font-size: 1.9rem;
        font-weight: 500;

        @media (max-width: 900px) {
          font-size: 1.5rem;
        }
        @media (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }

    .profiles {
      list-style-type: none;

      li {
        margin-left: 0;
      }
      input {
        display: none;
        &:checked + label {
          font-weight: bold;
          font-style: normal;
        }
      }
      label {
        font-style: italic;
        cursor: pointer;
      }
    }

    .strava-container {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      position: relative; 

      > iframe {
        height: 100%!important;
        position: absolute;
      }
    }



    @media (max-width: 512px) {
      pre,
      .table-wrapper {
        // sketchy weird number that kinda looks like it works; find better solution
        width: 96%;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
      }

      pre,
      td:first-of-type,
      th:first-of-type {
        border-left: 0;
      }

      pre,
      td:last-of-type,
      th:last-of-type {
        border-right: 0;
      }
    }
  }

  a {
    &,
    &:visited,
    &:hover {
      border-bottom: 1px solid;
      color: $color-primary-text;
      font-size: 1.05rem;
      line-height: 1.1rem;
    }
  }

  li {
    font-size: 1.05em;
    line-height: 1.75em;
  }

  blockquote {
    background: $color-background-light-smoke;
    border-radius: 0 0.7rem 0.7rem 0;
    border-left: 2px solid $color-border-light;
    padding: 0.5rem 1rem;

    p:has(+ p) {
      margin-bottom: 1rem;
    }
  }

  p:has(mark) {
    padding-left: 1rem;
  }

  mark {
    &::before {
      content: '- ';
    }
  }
  .posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--margin);

    @media (max-width: 512px) {
      flex-direction: column;
      row-gap: 1rem;
      margin-top: 0;
    }

    a {
      width: min(calc(50% - 1rem), 300px);

      @media (max-width: 512px) {
        margin: 0 1rem;
        width: calc(100% - 2rem);
      }

      &, 
      &:hover, 
      &:focus, 
      &:visited {
        border: none;
      }
    }

    article { 
      padding: 0;
    }

    h2, img {
      grid-column: 1;
      grid-row: 1;

      @media (max-width: 512px) {
        margin: 0;
      }
    }

    h2 {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      height: fit-content;
      padding: 0.7rem 1rem;
      border-radius: 0 0 10px 10px;
      color: $color-foreground;
      margin: 0;
      width: auto;

      &::after {
        display: none;
      }

      .caption {
        font-size: 0.8rem;
        line-height: 1rem;
      }

      .title {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  
    img {
      max-width: 100%;
    }

  }
}

