@import "variables/palette";
@import "variables/components";

main {
  article {
    --image-count: 1;

    padding: 1.5rem;
    letter-spacing: 0.02rem;

    @media screen and (max-width: 700px) {
      padding: 1rem;
    }

    @media (max-width: 512px) {
      padding-right: 0;
      padding-left: 0;
    }

    > * {
      margin: 0 0 1rem;

      @media (max-width: 512px) {
        margin-right: 1rem;
        margin-left: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      width: -moz-fit-content;
      width: fit-content;

      &:has(+ .date-created) {
        margin-bottom: 0;
      }

      + .date-created {
        margin-bottom: 1rem;
      }

      span {
        display: block;
      }

      .subtitle {
        font-size: 0.5em;
        line-height: 1.5em;
      }

      &::after {
        @include underline(100%, $color-primary, $color-secondary);
      }
    }

    h2 {
      width: fit-content;

      &::after {
        @include underline(100%, $color-primary, $color-secondary);
      }
    }

    .date-created {
      font-size: 0.9rem;
    }

    h2,
    h3 {
      margin-top: 2rem;
      margin-bottom: 0.7rem;
    }

    .images {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      justify-content: space-between;

       @media (min-width: 1024px) {
        flex-direction: row;
      }
    }

    .image,
    .image-single,
    .profile-image {
      vertical-align: top;
      position: relative;

      img {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }

      @media (min-width: 1024px) {
        width: calc(100% / var(--image-count) - 16px * (var(--image-count) - 1));
      }
    }

    .image,
    .image-single {
      display: flex;

      &::after {
        content: attr(title);
        display: block;
        text-align: right;
        line-height: 2.5rem;
        font-style: italic;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 0.5rem;
        width: calc(100% - 1rem);
        background: $color-background-light-smoke;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .interactive-map {
      min-width: 100%;
      height: 700px;
      border: none;
      margin-left: 0;
    }

    .profile-image {
      position: relative;

      &::before {
        content: attr(title);
        position: absolute;
        color: black;
        top: 15px;
        left: 20px;
        font-size: 1.9rem;
        font-weight: 500;

        @media (max-width: 900px) {
          font-size: 1.5rem;
        }
        @media (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }

    .profiles {
      list-style-type: none;

      li {
        margin-left: 0;
      }
      input {
        display: none;
        &:checked + label {
          font-weight: bold;
          font-style: normal;
        }
      }
      label {
        font-style: italic;
        cursor: pointer;
      }
    }

    .strava-container {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      position: relative; 

      > iframe {
        height: 100%!important;
        position: absolute;
      }
    }



    @media (max-width: 512px) {
      pre,
      .table-wrapper {
        // sketchy weird number that kinda looks like it works; find better solution
        width: 96%;
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;
      }

      pre,
      td:first-of-type,
      th:first-of-type {
        border-left: 0;
      }

      pre,
      td:last-of-type,
      th:last-of-type {
        border-right: 0;
      }
    }
  }

  a {
    &,
    &:visited,
    &:hover {
      border-bottom: 1px solid;
      color: $color-primary-text;
      font-size: 1.05rem;
      line-height: 1.1rem;
    }
  }

  li {
    font-size: 1.05em;
    line-height: 1.75em;
  }

  blockquote {
    background: $color-background-light-smoke;
    border-radius: 0 0.7rem 0.7rem 0;
    border-left: 2px solid $color-border-light;
    padding: 0.5rem 1rem;

    p:has(+ p) {
      margin-bottom: 1rem;
    }
  }
}
