@import "reset";
@import "background";
@import "typography";
@import "box";
@import "layout";
@import "single";
@import "variables/palette";
@import "variables/components";

body {
  background: transparent;
}

main {
  margin-top: 1rem;
  width: fit-content;
  display: grid;
  position: relative;

  img {
    border-radius: 1rem;
    height: 100%;
  }

  span,
  a {
    grid-row: 1;
    grid-column: 1;
  }

  a {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    padding: 1rem;
    border: none;
    background-color: #000c;
    color: #f8f8f2;
    border-radius: 0 0 1rem 1rem;
  }
}
