@import "reset";
@import "background";
@import "typography";
@import "box";
@import "layout";
@import "single";
@import "variables/palette";
@import "variables/components";

header {
  align-content: center;
  justify-items: center;
  height: 10rem;

  a {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    line-height: 2.5rem;
    margin: 2rem auto;
    font-size: 4rem;
    width: fit-content;
    text-align: center;
  }

  .title::after {
    @include underline(100%, $color-primary, $color-secondary);
    height: 0.3rem;
    margin-top: 0.8rem;
  }

  .subtitle {
    font-size: 2.2rem;
  }

  .socials {
    display: none;
  }
}

main {
  margin-top: 1rem;
  width: fit-content;

  img {
    border-radius: 16px;
  }
}
