---
permalink: "./thumbnails/thumbnail.html"
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.siteName }}</title>
  {% set css %}
        {% include "thumbnails/style.css" %}
    {% endset %}
    <script type="text/javascript">
        {{ js | safe }}
    </script>
     <style>
         {{ css | safe }} 
     </style>
</head>
<body>
    <main>
        <span data-thumbnail><img width="1600" height="1100" src="../src/media/destination-tauern-part-2/thumbnail.jpg"></img></span>
        <a href="/">
            <h1 class="title">{{ "title" | i18n(lang) }}</h1>
            <h2 class="subtitle" data-subtitle>{{ "title" | i18n(lang) }}</h2>
        </a>
    </main>
</body>
</html>

