---
layout: layouts/layout.njk
---
<ul class="posts">
{%- for post in collections.posts | reverse -%}
    <li>
        <a href="{{ post.url }}">
            <article-box animate>
              <h2>{{ post.data.title }}</h2>
                {% image post.data.caption, "thumbnail", post.url %}
            </article-box>
        </a>
    </li>
{%- endfor -%}
</ul>

