---
layout: layouts/layout.njk
lang: en
switch: /pl
---
<ul class="posts">
{%- for post in collections.posts | reverse -%}
    {% if post.data.lang === lang %}
        {% include "partials/post-tile.njk" %}
    {% endif %}
{%- endfor -%}
</ul>

