<li>
    <a href="{{ post.url }}">
        <article-box animate>
            <h2>{{ post.data.title }}</h2>
            {% image post.data.caption, "thumbnail", post.data.media %}
        </article-box>
    </a>
</li>