{% include "partials/header.njk" %}
<main>
    {{ content | safe }}
</main>
<dialog>
    <div class="image-container">
        <button class="previous">‹</button>
        <img src="#" alt="#">
        <button class="next">›</button>
    </div>
    <p></p>
    <button class="close">close</button>
</dialog>