<header>
    <a href="/">
        <h2>
            <span class="title">{{ metadata.title }}</span>
            <span class="subtitle">{{ metadata.subtitle }}</span>
        </h2>
    </a>
    {% include "partials/topmenu.njk" %}
</header>
<main>
    {{ content | safe }}
</main>
<dialog>
    <div class="image-container">
        <button class="previous">‹</button>
        <img src="#" alt="#">
        <button class="next">›</button>
    </div>
    <p></p>
    <button class="close">close</button>
</dialog>